* {
    margin: 0;
}


#id-div-container {
    margin: 20% auto;
    text-align: center;
}

.button {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}