* {
    margin: 0;
}

.music-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    width: 364px;
    height: initial;
    background-color: #d2e1c8;
    box-shadow: 0 0 15px #e4edde;
    border-radius: 3px;
    overflow: hidden;
}

.music-box .album {
  position: relative;
}

.music-box img {
    width: 100%;
    height: auto;
}

.button {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}